// Para agregar archivos aca, hay que poner en el resolve vite.config el path relativo de node_modules
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');

.btn-xsm{
    --bs-btn-padding-y: .05rem;
    --bs-btn-padding-x: .25rem;
    --bs-btn-font-size: .75rem;
}

@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4.css";

$btn-padding-x-xs:  .20rem !default;
$btn-padding-y-xs:  .12rem !default;
$input-btn-line-height-xs: 1.1 !default;

.btn.btn-xs {
   // line-height: ensure proper height of button next to small input
   @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-sm, $input-btn-line-height-xs, $btn-border-radius-sm);
}